# ===========================
# F1 PROJECT SPECIFIC
# ===========================

# Runtime data
data/raw/
volumes/minio/

# Credentials
config_local.py
secrets.yaml
.env
.aws/
.boto/

# Docker
.docker/
docker-compose.override.yml

# Logs
logs/
*.log

# Python environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# test python file
src/test

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project