# ===========================
# F1 PROJECT SPECIFIC
# ===========================

# 1. DATA SAFETY
raw_json_data/
*.json
*.csv
*.parquet
*.db

# 2. CREDENTIAL SAFETY
config_local.py
secrets.yaml
.env

# 3. DOCKER JUNK
.docker/

# 4. LOGS
logs/
*.log

# 5. VENV
.venv/