aenum==3.1.16
    # via astronomer-cosmos
agate==1.9.1
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
aiobotocore==2.26.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   s3fs
aiohappyeyeballs==2.6.1
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
aiohttp==3.13.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   aiohttp-jinja2
    #   apache-airflow-providers-http
    #   connexion
    #   s3fs
aiohttp-jinja2==1.6
    # via connexion
aioitertools==0.13.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
aiosignal==1.4.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
aiosmtplib==5.1.0
    # via apache-airflow-providers-smtp
alembic==1.18.4
    # via apache-airflow
annotated-types==0.7.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   pydantic
anyio==4.12.1
    # via
    #   httpx
    #   starlette
apache-airflow==2.11.2
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow-providers-common-compat
    #   apache-airflow-providers-common-io
    #   apache-airflow-providers-common-sql
    #   apache-airflow-providers-fab
    #   apache-airflow-providers-ftp
    #   apache-airflow-providers-http
    #   apache-airflow-providers-imap
    #   apache-airflow-providers-smtp
    #   apache-airflow-providers-sqlite
    #   astronomer-cosmos
apache-airflow-providers-common-compat==1.14.1
    # via
    #   apache-airflow
    #   apache-airflow-providers-common-io
    #   apache-airflow-providers-common-sql
    #   apache-airflow-providers-fab
    #   apache-airflow-providers-ftp
    #   apache-airflow-providers-http
    #   apache-airflow-providers-imap
    #   apache-airflow-providers-smtp
apache-airflow-providers-common-io==1.7.1
    # via apache-airflow
apache-airflow-providers-common-sql==1.33.0
    # via
    #   apache-airflow
    #   apache-airflow-providers-sqlite
apache-airflow-providers-fab==1.5.4
    # via apache-airflow
apache-airflow-providers-ftp==3.14.1
    # via apache-airflow
apache-airflow-providers-http==6.0.0
    # via apache-airflow
apache-airflow-providers-imap==3.11.0
    # via apache-airflow
apache-airflow-providers-smtp==2.4.3
    # via apache-airflow
apache-airflow-providers-sqlite==4.3.0
    # via apache-airflow
apispec==6.10.0
    # via flask-appbuilder
argcomplete==3.6.3
    # via apache-airflow
asgiref==3.11.1
    # via
    #   apache-airflow
    #   apache-airflow-providers-common-compat
    #   apache-airflow-providers-http
astronomer-cosmos==1.13.1
    # via f1-pipeline (pyproject.toml)
attrs==25.4.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
    #   apache-airflow
    #   astronomer-cosmos
    #   jsonschema
    #   openlineage-integration-common
    #   openlineage-python
    #   referencing
babel==2.18.0
    # via
    #   agate
    #   flask-babel
blinker==1.9.0
    # via
    #   apache-airflow
    #   flask
boto3==1.41.5
    # via f1-pipeline (pyproject.toml)
botocore==1.41.5
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   boto3
    #   s3transfer
cachelib==0.13.0
    # via
    #   flask-caching
    #   flask-session
certifi==2025.11.12
    # via
    #   f1-pipeline (pyproject.toml)
    #   clickhouse-connect
    #   httpcore
    #   httpx
    #   requests
cffi==2.0.0
    # via cryptography
charset-normalizer==3.4.4
    # via
    #   f1-pipeline (pyproject.toml)
    #   requests
click==8.3.1
    # via
    #   clickclick
    #   dbt-core
    #   dbt-semantic-interfaces
    #   flask
    #   flask-appbuilder
clickclick==20.10.2
    # via connexion
clickhouse-connect==0.14.1
    # via
    #   f1-pipeline (pyproject.toml)
    #   dbt-clickhouse
clickhouse-driver==0.2.10
    # via dbt-clickhouse
colorama==0.4.6
    # via
    #   dbt-common
    #   flask-appbuilder
colorlog==6.10.1
    # via apache-airflow
configupdater==3.2
    # via apache-airflow
connexion==2.15.1
    # via apache-airflow
cramjam==2.11.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   fastparquet
cron-descriptor==2.0.6
    # via apache-airflow
croniter==6.2.2
    # via apache-airflow
cryptography==46.0.5
    # via apache-airflow
daff==1.4.2
    # via dbt-core
dbt-adapters==1.22.5
    # via
    #   dbt-clickhouse
    #   dbt-core
dbt-clickhouse==1.10.0
    # via f1-pipeline (pyproject.toml)
dbt-common==1.37.3
    # via
    #   dbt-adapters
    #   dbt-core
dbt-core==1.11.7
    # via
    #   f1-pipeline (pyproject.toml)
    #   dbt-clickhouse
dbt-extractor==0.6.0
    # via dbt-core
dbt-protos==1.0.440
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
dbt-semantic-interfaces==0.9.0
    # via dbt-core
deepdiff==8.6.1
    # via dbt-common
deprecated==1.3.1
    # via
    #   apache-airflow
    #   limits
deprecation==2.1.0
    # via astronomer-cosmos
dill==0.4.1
    # via apache-airflow
distlib==0.4.0
    # via virtualenv
dnspython==2.8.0
    # via email-validator
email-validator==2.3.0
    # via flask-appbuilder
fastparquet==2025.12.0
    # via f1-pipeline (pyproject.toml)
filelock==3.25.2
    # via
    #   python-discovery
    #   virtualenv
flask==2.3.3
    # via
    #   apache-airflow
    #   apache-airflow-providers-fab
    #   connexion
    #   flask-appbuilder
    #   flask-babel
    #   flask-caching
    #   flask-jwt-extended
    #   flask-limiter
    #   flask-login
    #   flask-session
    #   flask-sqlalchemy
    #   flask-wtf
flask-appbuilder==4.5.4
    # via apache-airflow-providers-fab
flask-babel==2.0.0
    # via flask-appbuilder
flask-caching==2.3.1
    # via apache-airflow
flask-jwt-extended==4.7.1
    # via flask-appbuilder
flask-limiter==3.12
    # via flask-appbuilder
flask-login==0.6.3
    # via
    #   apache-airflow-providers-fab
    #   flask-appbuilder
flask-session==0.8.0
    # via
    #   apache-airflow
    #   apache-airflow-providers-fab
flask-sqlalchemy==2.5.1
    # via flask-appbuilder
flask-wtf==1.2.2
    # via
    #   apache-airflow
    #   flask-appbuilder
frozenlist==1.8.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
    #   aiosignal
fsspec==2025.12.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow
    #   fastparquet
    #   s3fs
    #   universal-pathlib
google-re2==1.1.20251105
    # via
    #   apache-airflow
    #   apache-airflow-providers-fab
googleapis-common-protos==1.73.0
    # via
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
grpcio==1.78.0
    # via opentelemetry-exporter-otlp-proto-grpc
gunicorn==25.1.0
    # via apache-airflow
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via
    #   apache-airflow
    #   openlineage-python
idna==3.11
    # via
    #   f1-pipeline (pyproject.toml)
    #   anyio
    #   email-validator
    #   httpx
    #   requests
    #   yarl
importlib-metadata==8.7.1
    # via
    #   dbt-semantic-interfaces
    #   opentelemetry-api
inflection==0.5.1
    # via connexion
isodate==0.7.2
    # via
    #   agate
    #   dbt-common
itsdangerous==2.2.0
    # via
    #   apache-airflow
    #   flask
    #   flask-wtf
jinja2==3.1.6
    # via
    #   aiohttp-jinja2
    #   apache-airflow
    #   astronomer-cosmos
    #   connexion
    #   dbt-common
    #   dbt-core
    #   dbt-semantic-interfaces
    #   flask
    #   flask-babel
    #   python-nvd3
jmespath==1.0.1
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   apache-airflow-providers-fab
    #   boto3
    #   botocore
jsonschema==4.26.0
    # via
    #   apache-airflow
    #   connexion
    #   dbt-common
    #   dbt-core
    #   dbt-semantic-interfaces
    #   flask-appbuilder
jsonschema-specifications==2025.9.1
    # via jsonschema
lazy-object-proxy==1.12.0
    # via apache-airflow
leather==0.4.1
    # via agate
limits==5.8.0
    # via flask-limiter
linkify-it-py==2.1.0
    # via apache-airflow
lockfile==0.12.2
    # via
    #   apache-airflow
    #   python-daemon
lz4==4.4.5
    # via clickhouse-connect
mako==1.3.10
    # via alembic
markdown-it-py==4.0.0
    # via
    #   apache-airflow
    #   mdit-py-plugins
    #   rich
markupsafe==3.0.3
    # via
    #   apache-airflow
    #   connexion
    #   jinja2
    #   mako
    #   werkzeug
    #   wtforms
marshmallow==3.26.2
    # via
    #   flask-appbuilder
    #   marshmallow-oneofschema
    #   marshmallow-sqlalchemy
marshmallow-oneofschema==3.2.0
    # via apache-airflow
marshmallow-sqlalchemy==0.28.2
    # via flask-appbuilder
mashumaro==3.14
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
mdit-py-plugins==0.5.0
    # via apache-airflow
mdurl==0.1.2
    # via markdown-it-py
methodtools==0.4.7
    # via
    #   apache-airflow
    #   apache-airflow-providers-common-sql
more-itertools==10.8.0
    # via
    #   apache-airflow-providers-common-sql
    #   dbt-semantic-interfaces
msgpack==1.1.2
    # via
    #   astronomer-cosmos
    #   mashumaro
msgspec==0.20.0
    # via flask-session
multidict==6.7.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   aiohttp
    #   yarl
networkx==3.6.1
    # via dbt-core
numpy==2.4.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   fastparquet
    #   pandas
openlineage-integration-common==1.45.0
    # via astronomer-cosmos
openlineage-python==1.45.0
    # via openlineage-integration-common
openlineage-sql==1.45.0
    # via openlineage-integration-common
opentelemetry-api==1.40.0
    # via
    #   apache-airflow
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
opentelemetry-exporter-otlp==1.40.0
    # via apache-airflow
opentelemetry-exporter-otlp-proto-common==1.40.0
    # via
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc==1.40.0
    # via opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http==1.40.0
    # via opentelemetry-exporter-otlp
opentelemetry-proto==1.40.0
    # via
    #   opentelemetry-exporter-otlp-proto-common
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk==1.40.0
    # via
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-semantic-conventions==0.61b0
    # via opentelemetry-sdk
ordered-set==4.1.0
    # via flask-limiter
orderly-set==5.5.0
    # via deepdiff
packaging==25.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow
    #   apispec
    #   astronomer-cosmos
    #   connexion
    #   dbt-core
    #   deprecation
    #   fastparquet
    #   gunicorn
    #   limits
    #   marshmallow
    #   marshmallow-sqlalchemy
    #   openlineage-python
pandas==2.3.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   fastparquet
parsedatetime==2.6
    # via agate
pathspec==0.12.1
    # via
    #   apache-airflow
    #   dbt-common
    #   dbt-core
pendulum==3.1.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow
pip==26.0.1
    # via f1-pipeline (pyproject.toml)
platformdirs==4.9.4
    # via
    #   python-discovery
    #   virtualenv
pluggy==1.6.0
    # via apache-airflow
polars==1.39.0
    # via f1-pipeline (pyproject.toml)
polars-runtime-32==1.39.0
    # via polars
prison==0.2.1
    # via flask-appbuilder
propcache==0.4.1
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
    #   yarl
protobuf==6.33.5
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
    #   dbt-protos
    #   googleapis-common-protos
    #   opentelemetry-proto
psutil==7.2.2
    # via apache-airflow
pyarrow==22.0.0
    # via f1-pipeline (pyproject.toml)
pycparser==3.0
    # via cffi
pydantic==2.12.5
    # via
    #   f1-pipeline (pyproject.toml)
    #   astronomer-cosmos
    #   dbt-core
    #   dbt-semantic-interfaces
pydantic-core==2.41.5
    # via
    #   f1-pipeline (pyproject.toml)
    #   pydantic
pygments==2.19.2
    # via
    #   apache-airflow
    #   rich
pyjwt==2.12.1
    # via
    #   apache-airflow
    #   flask-appbuilder
    #   flask-jwt-extended
pyrate-limiter==2.10.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   requests-ratelimiter
python-daemon==3.1.2
    # via apache-airflow
python-dateutil==2.9.0.post0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   apache-airflow
    #   botocore
    #   croniter
    #   dbt-common
    #   dbt-semantic-interfaces
    #   flask-appbuilder
    #   openlineage-python
    #   pandas
    #   pendulum
python-discovery==1.1.3
    # via virtualenv
python-dotenv==1.2.1
    # via f1-pipeline (pyproject.toml)
python-multipart==0.0.22
    # via connexion
python-nvd3==0.16.0
    # via apache-airflow
python-slugify==8.0.4
    # via
    #   agate
    #   apache-airflow
    #   python-nvd3
pytimeparse==1.1.8
    # via agate
pytz==2025.2
    # via
    #   f1-pipeline (pyproject.toml)
    #   clickhouse-connect
    #   clickhouse-driver
    #   dbt-adapters
    #   dbt-core
    #   flask-babel
    #   pandas
pyyaml==6.0.3
    # via
    #   apispec
    #   clickclick
    #   connexion
    #   dbt-core
    #   dbt-semantic-interfaces
    #   openlineage-integration-common
    #   openlineage-python
referencing==0.37.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.5
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow
    #   apache-airflow-providers-http
    #   connexion
    #   dbt-common
    #   dbt-core
    #   openlineage-python
    #   opentelemetry-exporter-otlp-proto-http
    #   requests-ratelimiter
    #   requests-toolbelt
    #   snowplow-tracker
requests-ratelimiter==0.7.0
    # via f1-pipeline (pyproject.toml)
requests-toolbelt==1.0.0
    # via
    #   apache-airflow
    #   apache-airflow-providers-http
rfc3339-validator==0.1.4
    # via apache-airflow
rich==13.9.4
    # via
    #   apache-airflow
    #   flask-limiter
    #   rich-argparse
rich-argparse==1.7.2
    # via apache-airflow
rpds-py==0.30.0
    # via
    #   jsonschema
    #   referencing
s3fs==2025.12.0
    # via f1-pipeline (pyproject.toml)
s3transfer==0.15.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   boto3
setproctitle==1.3.7
    # via apache-airflow
six==1.17.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   prison
    #   python-dateutil
    #   rfc3339-validator
    #   wirerope
snowplow-tracker==1.1.0
    # via dbt-core
sqlalchemy==1.4.54
    # via
    #   alembic
    #   apache-airflow
    #   flask-appbuilder
    #   flask-sqlalchemy
    #   marshmallow-sqlalchemy
    #   sqlalchemy-jsonfield
    #   sqlalchemy-utils
sqlalchemy-jsonfield==1.0.2
    # via apache-airflow
sqlalchemy-utils==0.42.1
    # via flask-appbuilder
sqlparse==0.5.4
    # via
    #   apache-airflow-providers-common-sql
    #   dbt-core
starlette==0.52.1
    # via f1-pipeline (pyproject.toml)
tabulate==0.10.0
    # via apache-airflow
tenacity==9.1.2
    # via
    #   f1-pipeline (pyproject.toml)
    #   apache-airflow
termcolor==3.3.0
    # via apache-airflow
text-unidecode==1.3
    # via python-slugify
typing-extensions==4.15.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiosignal
    #   alembic
    #   anyio
    #   cron-descriptor
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
    #   dbt-semantic-interfaces
    #   grpcio
    #   limits
    #   mashumaro
    #   opentelemetry-api
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
    #   pydantic
    #   pydantic-core
    #   referencing
    #   snowplow-tracker
    #   starlette
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   f1-pipeline (pyproject.toml)
    #   pydantic
tzdata==2025.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   pandas
    #   pendulum
tzlocal==5.3.1
    # via clickhouse-driver
uc-micro-py==2.0.0
    # via linkify-it-py
universal-pathlib==0.2.6
    # via apache-airflow
urllib3==2.6.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   botocore
    #   clickhouse-connect
    #   requests
virtualenv==21.2.0
    # via astronomer-cosmos
werkzeug==3.1.6
    # via
    #   apache-airflow
    #   connexion
    #   flask
    #   flask-appbuilder
    #   flask-jwt-extended
    #   flask-login
wirerope==1.0.0
    # via methodtools
wrapt==1.17.3
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiobotocore
    #   deprecated
wtforms==3.2.1
    # via
    #   flask-appbuilder
    #   flask-wtf
yarl==1.22.0
    # via
    #   f1-pipeline (pyproject.toml)
    #   aiohttp
zipp==3.23.0
    # via importlib-metadata
zstandard==0.25.0
    # via clickhouse-connect
